// ================================================= /
// ======   ANIMATION VARIABLES  =================== /
// ================================================= /

$transition-map: (
	fast: 0.1s,
	std: 0.2s,
	md: 0.5s,
	slow: 0.625s,
	very-slow: 1s,
	sloth: 2s,
	bezier: cubic-bezier(0.85, 0, 0.3, 1)
);
