// ================================================= /
// ======   BELT CARD VARIATION  =================== /
// ================================================= /

.c-card {
	@at-root {

		&__belt {
			margin-top: -22%;
			margin-bottom: -3.125%;
		}

		&__belt-image {
			width: 33.33333333%;
		}
	}
}
