// ================================================= /
// ======   NUMBER CARD VARIATION  ================= /
// ================================================= /

.c-card {
    box-shadow: none;
    border-radius: 0;

    $block: &;
	@at-root {

        &--school {

            #{$block}__content & {
                width: 100%;
            }

            p {
                font-size: 1rem;
                margin: 0 0 .125rem 0;

                a {
                    color: PSJ_color(rich-black);
                }
            }

            h2 {
                font-family: PSJ_font-family(roboto);
                color: PSJ_color(victoria);
                font-size: 1.5625rem;
            }

            h4 {
                font-style: italic;
                margin-bottom: .5125rem;
                font-size: 1.25rem;
                color: #727F95!important;
            }
            
        }
	}
}
