// ================================================= /
// ======   NUMBER CARD VARIATION  ================= /
// ================================================= /

.c-card {
    $block: &;
	@at-root {

        &--school {

            #{$block}__content & {
                width: 100%;
            }

            p {
                font-size: .95rem;

                a {
                    color: PSJ_color(rich-black);
                }
            }

            h4 {
                font-size: 1.125rem;
                font-style: italic;
                color: PSJ_color(mid-gray)!important;
            }
            
        }
	}
}
