// ================================================= /
// ======   FUNCTIONS  ============================= /
// ================================================= /

// Converts a list to a string
@function list-to-string($list, $glue: '', $is-nested: false) {
	$result: null;

	@for $i from 1 through length($list) {
		$e: nth($list, $i);

		@if type-of($e) == list {
			$result: $result#{to-string($e, $glue, true)};
		}

		@else {
			$result: if($i != length($list) or $is-nested, $result#{$e}#{$glue}, $result#{$e});
		}
	}

	@return $result;
}

// Gets a border value from the border map
@function border($size: std) {
	@return PSJ_friendly-map-get($border-map, $size);
}

// Gets a transition value from the transition map
@function transition($transition: std) {
	@return PSJ_friendly-map-get($transition-map, $transition);
}
