// ================================================= /
// ======   FIELD OBJECT  ========================== /
// ================================================= /

.o-field {
	@extend %field;

	@at-root {

        &--search,
        &--select {
            position: relative;

            &::after {
                @include transition(transform, std);
    
                content: '\203A';
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0;
                margin-right: 0.75rem;
                font-size: 1.75em;
                line-height: 0.57142857;
                pointer-events: none;
                transform: translateY(-50%);
            }
        }

        &--search {
            margin-bottom: 1.5rem;
        }
        
        &--select {
            background: PSJ_color(rich-white);

            &::after {
                top: 40%;
                transform: rotate(90deg);
            }
        }

		&--small {
			$padding-while-focused: 1.5rem;

			@include PSJ_proportion((padding-right, padding-left), tiny);

			padding-top: $button-vertical-padding + 0.1;
			padding-bottom: $button-vertical-padding + 0.1;

			&:hover {
				padding-left: $padding-while-focused;
			}

			&:focus {
				padding-left: calc(#{$padding-while-focused} - #{border(std)});
			}
		}
	}
}
