// ================================================= /
// ======   SCROLL SHADOW GUY OBJECT  ============== /
// ================================================= /

.o-scroll-shadow-guy {
	$block: &;
	$js-block: '.js-scroll-shadow-guy';

	position: relative;

	&::before,
	&::after {
		content: '';
		pointer-events: none;
		position: absolute;
		z-index: 1;
		top: 0;
		width: 5rem;
		height: 100%;
		opacity: 0;
		transition: opacity transition(fast);
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}

	// Loop through each color and set the gradient for the shadows
	@each $color, $value in $color-map {

		.u-background--#{$color} :not([class*="u-background--"]) & {
			&::before {
				background-image: linear-gradient(to right, #{$value} 0%, transparent 100% );
			}
			&::after {
				background-image: linear-gradient(to left, #{$value} 0%, transparent 100% );
			}
		}
	}

	&.is-partially-scrolled,
	&.is-fully-scrolled {
		&::before {
			opacity: 1;
		}
	}

	&.is-not-scrolled,
	&.is-partially-scrolled {
		&::after {
			opacity: 1;
		}
	}

	@at-root {

		&__content {
			overflow-x: auto;

			@include PSJ_breakpoint(lg) {
				overflow-x: visible;
			}
		}
	}
}
