// ================================================= /
// ======   RELATED POSTS COMPONENT  =============== /
// ================================================= /

.c-related-posts {
    $block: &;
    
    &__title {
        &::after {
            content: ' ';
            display: block;
            padding-bottom: .5rem;
            margin-bottom: .75rem;
            border-bottom: 1px solid PSJ_color(light-mid-gray);
        }
    }

	@at-root {        

		&__post-list {
			margin-left: 0.85em;
		}

		&__post {
			@extend %padded-element;
		}

		&__post-title {
			font-size: inherit;
			line-height: inherit;
		}
	}
}
