// ================================================= /
// ======   LINKS  ================================= /
// ================================================= /

%link {
	@include transition((color, opacity), std);

	color: inherit;
	font-weight: bold;

	&:hover,
	&:focus,
	&:active {
		color: PSJ_color(zest);
		outline: none;

		// Links that are a descendant of zesty backgrounds, but not a descendant of any other background
		.u-background--zest :not([class*='u-background-']) &:not(.o-button) {
			color: PSJ_color(rich-white);
		}
	}
}

a {
	@extend %link;

	@at-root {

		// Links in the footer that aren't buttons are not bold
		.site-footer &:not(.o-button) {
			font-weight: normal;
		}
	}
}
