// ================================================= /
// ======   CUSTOM WIDGETS  ======================== /
// ================================================= /

#categories-2 {
    position: relative;
    margin-bottom: 5rem;

    .widget-title {
        padding-bottom: .5rem;
        margin-bottom: 1.5rem;
        color: PSJ_color(victoria);
        font-family: PSJ_font-family(roboto);
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.75;
        text-transform: uppercase;
        letter-spacing: .125em;
        -webkit-font-smoothing: antialiased;
        width: 100%;
        border-bottom: 1px solid PSJ_color(light-mid-gray);
    }

    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        &::-ms-expand {
            display: none;
        }
    }

    form {
        position: relative;

        &::after {
            transition: transform .2s;

            content: '\203A';
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 0;
            margin-right: 0.75rem;
            font-size: 1.75em;
            line-height: 0.57142857;
            pointer-events: none;
            transform: translateY(-50%) rotate(90deg);
        }
    }

}

body.archive {
    #categories-2 {
        select {
            border-left: border(std) solid PSJ_color(zest);
        }
    }
}

body.blog,
body.archive,
body.category {
    #categories-2 {
        margin-bottom: 2rem;
    }
}

body.author {
    .cat-widget {
        display: none;
    }
}
